/* .product-page {
    width: 100%;
} */
.product-page > .container {
    min-height: 80vh;
    margin: auto;
    /* background-color: #cbe4fc; */
}

.product-page .product {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    box-sizing: border-box;
}

.product-page .product-img {
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 400px;
    /* background-color: #fccbcb; */
}
.product-page .product-img > img {
    max-width: 100%;
    max-height: 100%;
}

.product-page .info-container {
    flex: 2;
    margin: 20px 40px 60px 0;
    /* background-color: #d1fccb; */
}
.product-page .info-container > div {
    margin: 20px 0;
}
.product-page .info-container > .description {
    text-align: left;
    word-break: break-word;
    color: #7b727c;
}
.product-page .info-container > .description > h4 {
    color: #7b727c;
}

@media (max-width: 600px) {
    .product-page > .container {
        flex-direction: column;
    }
    .product-page .info-container {
        margin: 20px 40px 60px 40px;
    }
}