/* .product-page {
    width: 100%;
} */
.product-page > .container {
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: #cbe4fc; */
}
.product-page h4 {
    font-size: 18px;
    margin: 0 0 10px 0;
    color: rgba(145, 64, 84, 0.459);
}

.product-page .img-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 250px; */
    height: 300px;
    /* background-color: #fccbcb; */
}
.product-page .product-img {
    max-width: 300px;
    max-height: 300px;
}

.product-page .info-container {
    flex: 1;
    /* border-left: 1px solid #d4c7d4; */
    /* background-color: #d1fccb; */
}
.product-page .info-container > div {
    margin: 20px 0;
}
.product-page .info-container > .description {
    text-align: left;
    word-break: break-word;
}