/* .useraccount .posters {
    background-color: #cbe4fc;
  } */
.posters-container {
    display: flex;
    flex-direction: column;
}
.posters-container h4 {
    color:rgba(77, 33, 102, 0.753);
}
    .new-poster {
        padding: 15px 30px;
        box-sizing: border-box;
    }
    .new-poster-container {
        border: 3px dashed rgba(150, 116, 123, 0.514);
        border-radius: 5px;
        /* background-color: #f8e0b3; */
    }
    .new-poster-container > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px auto;
        max-width: 200px;
        /* background: rgb(192, 221, 255); */
    }
    .new-poster-container .input {
        width: 100%;
        border: 1px solid #da6a6ab7;
        font-size: 12px;
        margin: 3px 0;
    }
    .new-poster-container .price {
        display: flex;
        align-items: center;
        width: 100%;
        color: #7d585c;
    }
    .new-poster-container .price > .input {
        text-align: right;
    }
    .new-poster-container select {
        color: #7d585c;
        border: 1px solid #e1c2ce;
        margin: 3px 0;
    }
    .new-poster-container .btn {
        margin: 3px 0;
    }

.posters-container > ul {
    flex: 3;
    background-color: #fff;
}
.posters-container .posters-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.posters-container h5 {
    color: rgba(145, 64, 84, 0.459);
}