.useraccount-container {
  display: flex;
  flex-direction: column;
}
  .profile-header-bkgd {      /*  keeps  */
    position: absolute;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 10em;
    background-color: #d0c7d6;
  }
  .profile-header-bkgd img {
    flex-shrink: 0;
    width: 100%;
    min-height: 100%;
  }
  
  .useraccount .main {
    margin-top: 10em;
    /* background-color: #cbf8d6; */
  }

  .useraccount .following-container {
    background-color: #cbe4fc;
  }
  .useraccount .settings-container {
    background-color: #cbe4fc;
  }
