.useraccount-container {
  display: flex;
  flex-direction: column;
}
  
  .useraccount .main {
    /* background-color: #cbf8d6; */
  }

  .useraccount .settings-container {
    background-color: #cbe4fc;
  }
