.useraccount-container {
  display: flex;
  flex-direction: column;
}
  .profile-header {
    display: flex;
  }
  .useraccount .profile-header-container {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    padding: 10px 50px;
    box-sizing: border-box;
    margin-top: 10em;
    background-color: #fccbd9;
  }
  .profile-header-bkgd {      /*  keeps  */
    position: absolute;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 10em;
    background-color: #d0c7d6;
  }
  .profile-header-bkgd img {
    flex-shrink: 0;
    width: 100%;
    min-height: 100%;
  }
  .user-nav {
    display: flex;
    flex-direction: column;
    background-color: #ddecfd;
  }
  .user-nav a {
    margin-left: 0;
  }
  .useraccount .main {
    flex: 1;
    margin-top: 10em;
    /* background-color: #cbf8d6; */
  }
    .profile-pic-name {
      display: flex;
      flex-direction: column;
    }
    .profile-pic-name > h4 {
      margin: 0;
    }
      /* Fills the thumbnail div with the image */
    .profile-pic {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 100px;
      height: 100px;
      /* border: 3px solid white; */
      border-radius: 20px;
      background-color: #cbe4fc;
    }
    .profile-pic > img {
      flex-shrink: 0;
      max-width: 100%;
      min-height: 100%;
    }
  .useraccount .profile-container {
    background-color: #cbe4fc;
  }
  .useraccount .posts {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
    background-color: #cbe4fc;
  }
  .useraccount .posts-container {
    width: 550px;
    /* background-color: rgb(189, 212, 189); */
  }
      .btn {
        
      }
      posts {
        display: flex;
      }
      .new-post {
        display: flex;
        flex-direction: column;
        padding: 8px 30px;
        box-sizing: border-box;
        /* border: 1px dashed gray; */
        border-radius: 4px;
        background-color: #fce1c8;
      }
      .new-post .input  {
        font-size: 15px;
        margin: 8px;
        border: none;
        border-radius: 3px;
        resize: none;
      }
      .new-post textarea {
        outline: none;
        border: 1px solid #ecceba;
        /* border-radius: 5px; */
        height: 80px;
      }
      .new-post button {
        align-self: center;
      }
      .posts ul {
        background-color: #b9ece8;
      }
      .posts .post {
        padding: 10px 12px;
        box-sizing: border-box;
        border: 1px dashed gray;
        background-color: #ecb9ea;
      }
      .post-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: #fcf4d9;
      }
      .post-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
      .post-image > img {
        width: 100%;
        max-height: 100%;
      }
      .post-container > div > input {
        width: 100%;
      }
      .post-container > div {
        display: flex;
        justify-content: space-between;
        background-color: #dffafc;
      }
  .latest-container {
    max-width: 120px;
    max-height: 100%;
    margin: 0 8px;
    background-color: #dbfcd9;
  }
      .latest-container > div {
        padding: 8px;
        box-sizing: border-box;
      }
      .latest-container img {
        width: 100%;
      }
  .useraccount .posters {
    /* background-color: #cbe4fc; */
  }
      .posters-container {
        display: flex;
        flex-direction: column;
      }
      .new-poster {
        padding: 15px 30px;
        box-sizing: border-box;
      }
      .new-poster-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
        box-sizing: border-box;
        border: 3px dashed rgba(150, 116, 123, 0.514);
        border-radius: 5px;
        /* background-color: #f8e0b3; */
      }
      .new-poster-container > input {
        border: 1px solid #da6a6ab7;
        font-size: 12px;
        margin: 3px 0;
      }
      .new-poster-container > button {
        margin: 8px 0 3px 0;
      }
      .posters-container > ul {
        flex: 3;
        background-color: #f4cbfa;
      }
      .posters-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      .poster {
        background-color: #e1d0ec;
        margin: 4px;
      }
        /* Fills the thumbnail div with the image */
      .poster .thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 187.5px;
        height: 187.5px;
      }
      .poster .thumbnail > img {  /*  When height is greater than width  */
        flex-shrink: 0;
        max-width: 100%;
        min-height: 100%;
      }
      .poster .thumbnail > .edit {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 187.5px;
        height: 187.5px;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
      }
      .poster .thumbnail > .edit:hover {
        opacity: 1;
      }
  .useraccount .following-container {
    background-color: #cbe4fc;
  }
  .useraccount .cart {
    background-color: #b7d5f1;
    padding: 10px;
    box-sizing: border-box;
  }
      .cart-container {
        display: flex;
        justify-content: space-around;
        background-color: #f9e5fd;
      }
      .cart-container .item {
        padding: 10px;
        box-sizing: border-box;
        /* border: 1px dashed gray; */
        background-color: #f0eacb;
      }
      .cart-container .item-container {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        background-color: #f0fdea;
      }
      .cart-container .products {
        flex: 3;
        /* width: 700px; */
        background-color: #dceef8;
      }
      .cart-container .item-img {
        display: flex;
        align-items: center;
        width: 120px;
        height: 120px;
        /* border: 1px dashed gray; */
        background-color: #f9e5fd;
      }
      .cart-container .image {
        max-width: 120px;
        max-height: 120px;
        margin: 0 auto;
        /* background-color: #f9e5fd; */
      }
      .cart-container .item-info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: right;
        background-color: #e5f0fd;
      }
      .cart-container .info {
        display: flex;
        justify-content: space-between;
        background-color: #e5f0fd;
      }
      .cart-container .total {
        flex: 1;
        /* width: 300px; */
        background-color: #fadbc8;
      }
      .cart-container .total-summary {
        background-color: #fdfbdf;
      }
  .useraccount .settings-container {
    background-color: #cbe4fc;
  }

/*  Responsive  */

  @media (max-width: 870px) {
    .latest-container {
      display: none;
    }
  }

  @media (max-width: 770px) {
    .profile-header {
      display: flex;
      flex-direction: column;
    }
    .useraccount .main {
      margin-top: 0;
    }
    .user-nav {
      flex-direction: row;
    }
    .user-nav a {
      margin-left: 10px;
    }
    .latest-container {
      display: none;
    }
  }
  @media (max-width: 587px) {
    .poster .thumbnail {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 370px;
      height: 370px;
    }
  }

/*  Animations  */

  .fade {
    animation-name: "fade-out";
    animation-duration: 0.5s;
  }
  .fade:hover {
    animation-name: "fade-in";
    animation-duration: 0.5s;
  }
  @keyframes fade-in {
    0% { opacity: 0;}
    100% { opacity: 1; }
  }
  @keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }