.profile {
  /* background-color: #cbe4fc; */
}

.profile-header-bkgd {
  position: absolute;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 10em;
  background-image: linear-gradient( 0deg, #e9e3f1, transparent );
  /* background:  #cdc7d6; */
}
.profile-header-bkgd img {
  flex-shrink: 0;
  width: 100%;
  min-height: 100%;
}
.follow-btn {
  position: absolute;
  margin: auto;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10.5em 8px 8px 8px;
  box-sizing: border-box;
  /* background-color: white; */
}

.profile-header {
  max-width: 200px;
  /* background-color: #dbfcd9; */
}
    .profile-header-container {
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
        align-items: center;
        padding: 10px 50px;
        box-sizing: border-box;
        border-radius: 0 0 3px 3px;
        background: linear-gradient( 180deg, #ffb6b6b0, transparent);
        /* background-color: #ffd5d0; */
        /* background-color: #fccbd9; */
    }
    .profile-pic-name {
        display: flex;
        flex-direction: column;
    }
    .profile-pic-name > h4 {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0 8px 0;
        color: #b34139;
    }
        /* Fills the thumbnail div with the image */
    .profile-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100px;
        height: 100px;
        /* border: 3px solid white; */
        border-radius: 20px;
        background-color: #cbe4fc;
    }
    .profile-pic > img {
        flex-shrink: 0;
        max-width: 100%;
        min-height: 100%;
    }
    .user-nav {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        /* background-color: #ddecfd; */
    }
    .user-nav a {
        margin: 0;
        padding: 3px;
        box-sizing: border-box;
        color: rgba(84, 74, 88, 0.767);
    }


.posts-container {
  width: 550px;
  /* background-color: rgb(189, 212, 189); */
}
    .new-post {
      display: flex;
      flex-direction: column;
      padding: 8px 30px;
      box-sizing: border-box;
      margin-bottom: 15px;
      /* border: 1px dashed gray; */
      border-radius: 0 0 4px 4px;
      background-color: #fcd7c8;
    }
    .new-post > .input  {
      font-size: 15px;
      margin: 8px;
      border: none;
      border-radius: 3px;
      resize: none;
    }
    .new-post > textarea {
      outline: none;
      border: 1px solid #ecceba;
      /* border-radius: 5px; */
      min-height: 80px;
    }
    .new-post > button {
      align-self: center;
    }
    .posts-container > ul {
      /* background-color: #c9ecbb; */
    }
    .posts-container h5 {
      color: rgba(145, 64, 84, 0.521);
    }


.latest {
  max-width: 150px;
  /* background-color: #fccbd9; */
}
    .latest-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 8px;
      /* background-color: #dbfcd9; */
    }
    .latest-container > div {
      flex-direction: column;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;
    }
    .latest-container > h4 {
      width: 100%;
      margin: 8px 8px 0 8px;
      padding-bottom: 5px;
      border-bottom: 1px solid rgb(179, 164, 164);
      color: rgba(102, 80, 82, 0.849);
    }
    .latest-container img {
      width: 100%;
    }
    .latest-container h5 {
      color: rgba(145, 64, 84, 0.521);
    }

/*  Responsive  */

@media (max-width: 750px) {
    .latest-container {
      display: none;
    }
    .profile-container {
      display: flex;
      flex-direction: column;
      padding: 10em 0 0 0;
      /* align-items: center; */
    }
    .profile-header {
      max-width: 100%;
    }
    .posts-container {
      max-width: 100%;
      align-self: center;
      padding: 8px;
      box-sizing: border-box;
    }
    .user-nav {
      flex-direction: row;
    }
    .user-nav a {
      margin-left: 10px;
    }
  }