.useraccount .settings {
    width: 100%;
    display: flex;
    /* background-color: #cbe4fc; */
}
.settings > .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px;
    box-sizing: border-box;
    /* background-color: #f5fccb; */
}

.settings > .container > div {
    width: 100%;
    padding: 20px 0 25px 0;
}
.settings h4 {
    font-size: 20px;
}
.settings button {
    font-size: 12px;
}
.settings .red-btn {
    margin: 25px 0 0 0;
}

.settings .remove-btn {
    font-size: 13px;
    font-weight: bold;
    border: none;
    color: #b8b4bd;
    background: transparent;
    cursor: pointer;
}
.settings .change-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    padding: 0 30px;
    box-sizing: border-box;
}
.settings .change-input > .input {
    /* border: 2px solid #ff9d9d; */
    margin: 0 10px;
}
.settings .change-input > button {
    margin: 0 10px;
}


.settings .avatar {
    margin: 0 auto 20px auto;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid lightgrey;
}
.settings .avatar > img {
    max-width: 100%;
}


.settings .header-bkgd {
    margin: 0 auto 20px auto;
    max-width: 800px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    background-image: linear-gradient( 0deg, #ffe2e2, #d5cde0);
}
.settings .header-bkgd > img {
    max-width: 100%;
}


.settings form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background: rgb(194, 255, 192);
    border: 1px dashed gray; */
}
.settings form .input {
    margin: 8px 0;
}

.settings .delete-account {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background: #00000075;
    color: #7b707a;
}
.settings .delete-account > .container {
    border-radius: 5px;
    background: #fff;
    padding: 25px;
    box-sizing: border-box;
}
.settings .delete-account > .container button {
    margin: 20px;
}