.profile .posters {
    width: 100%;
    /* background-color: #cbe4fc; */
}
.profile .posters > .container {
    display: flex;
    flex-direction: column;
}
    .posters > .container h4 {
        color:rgba(77, 33, 102, 0.753);
    }
    .posters > .container > ul {
        flex: 3;
        /* background-color: #ffffff; */
    }
    .posters .posters-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    

/*  Animations  */

.fade-in {
    animation-name: "fade-in";
    animation-duration: 1s;
}

.overlay-fade {
    animation-name: "fade-out";
    animation-duration: 0.5s;
}
.overlay-fade:hover {
    animation-name: "fade-in";
    animation-duration: 0.5s;
}
@keyframes fade-in {
    0% { opacity: 0;}
    100% { opacity: 1; }
}
@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}