/* .search-page {
  width: 100%;
} */

.search-page > .container {
  max-width: 720px;
  min-height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


/*  Results  */

.search-page .results {
  flex: 1;
}
.search-page .results > h4 {
  color: #c59ca6;
}
.search-page .product-list a:hover, .search-page .users-list:hover a:hover {
    color: #ec554a;
}


/*  Product List  */

.search-page .product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-page .product-list .item {
  /* width: 175px; */
  margin: 0 10px 26px 10px;
  /* border: 1px dashed gray; */
  background: #fff;
}
.search-page .product-list .item > .container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.search-page .product-list .img-container {
  width: 220px;
  height: 220px;
  background: linear-gradient(0deg, transparent, #e4dcfc);
}
.search-page .product-list .img-container a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgb(190, 190, 255); */
}
.search-page .product-list .img-container img {   /*  The image stays within the container  */
  max-width: 90%;
  max-height: 90%;
}
.search-page .product-list .item-info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 14px;
  padding-top: 5px;
  box-sizing: border-box;
  /* background-color: #c8e2f8; */
}
.search-page .product-list .title {
  align-self: start;
  font-size: 14px;
}
/* .search-page .product-list .item-info-container .title:hover,.creator-name a:hover {
  color: #ec554a;
} */
.search-page .product-list .item-info-container .rating-price {
  display: flex;
  justify-content: space-between;
  padding: 0 8px 0 0;
  margin: 4px 0;
}
.search-page .product-list .item-info-container .add-btn {
  align-self: center;
  font-size: 10px;
  margin: 5px 10px;
}


/*  User List  */

.search-page .users-list {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background-color: #fcf6de; */
}
.search-page .users-list > li {
  margin: 20px;
  /* background-color: #fcf6de; */
}
.search-page .users-list .img-container {      /*  The image is centered and the container height is fixed  */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 0 0 10px;
  background: linear-gradient(0deg, #fff, #e4dcfc);
  /* background-color: #ebb3dd; */
}
.search-page .users-list .img-container .avatar {  /*  The image stays within the container  */
  width: 100%;
  height: 100%;
  transform: scale(1);
  animation: 'shrink';
  animation-duration: 1s;
}
.search-page .users-list .img-container .avatar:hover {
  transform: scale(1.1);
  animation: 'grow';
  animation-duration: 1s;
}
@keyframes grow {
  0% { transform: scale(1) }
  50% { transform: scale(1.1) }
  100% { transform: scale(1.1) }
}
@keyframes shrink {
  0% { transform: scale(1.1) }
  50% { transform: scale(1) }
  100% { transform: scale(1) }
}


/*  Pagination buttons  */

.prev-next {
  display: flex;
  justify-content: space-between;
  padding: 20px 15%;
  /* background-color: #ebc3f5; */
  border-top: 1px solid rgb(235, 180, 180);
}
.prev-next > svg {
  box-sizing: border-box;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2);
  cursor: pointer;
}
.prev-next .fa-angle-L {
  padding: 5px 8px 8px 5px;
}
.prev-next .fa-angle-R {
  padding: 5px 5px 8px 8px;
}


.img-fade-in {
  animation-name: "fade-in";
  animation-duration: 2s;
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1.0; }
}