/*  Search Page  */
.search-page a {
  text-decoration: none;
}
.search-page .results {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f1cefa; */
  height: 100%;
}
.results h4 {
  color: rgba(145, 64, 84, 0.459);
}
.search-page .results-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  background: linear-gradient( 0deg, transparent, #fcc9c1a6);
  /* background-color: #cefae9; */
}
.search-page .results-container ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
}

.search-page .item {                 /*  The item has a fixed width and margin  */
  width: 175px;
  /* border: 1px solid gray; */
  margin: 6px;
  background-color: white;
  /* background-color: #fcf6de; */
}
.search-page .item-container {       /*  The item contents are in columns  */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3px 3px 7px 3px;
  box-sizing: border-box;
  /* background-color: #fcf6de; */
}
.search-page .image-container {      /*  The image is centered and the container height is fixed  */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 183px;
  background: linear-gradient(0deg, transparent, #e4dcfc);
  /* background-color: #ebb3dd; */
}
.search-page .image-container:hover {
  opacity: 0.8;
}
.search-page .image-container img {  /*  The image stays within the container  */
  max-width: 160px;
  max-height: 165px;
}


.search-page .item-info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: #c8e2f8; */
}
.item-container .item-info-container {
  font-size: 14px;
  padding-top: 5px;
  box-sizing: border-box;
}
.item-container .title:hover, .creator-name a:hover {
  color: #ec554a;
}
.search-page .item-info-container .info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 4px 0;
  /* background-color: #cefae9; */
}
.search-page .item-info-container .add-btn {
  align-self: center;
  font-size: 10px;
  padding: 5px 10px;
  margin: 0;
}


.prev-next-btn {
  display: flex;
  justify-content: space-between;
  padding: 20px 15%;
  /* background-color: #ebc3f5; */
  border-top: 1px solid rgb(235, 180, 180);
}
.prev-next-btn > svg {
  box-sizing: border-box;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2);
  cursor: pointer;
}
.prev-next-btn .fa-angle-L {
  padding: 5px 8px 8px 5px;
}
.prev-next-btn .fa-angle-R {
  padding: 5px 5px 8px 8px;
}


.img-anim {
  animation-name: "fade-in";
  animation-duration: 2s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}