  /*  Search Page  */
.search-page .results {
  padding: 25px 100px;
  box-sizing: border-box;
  background-color: #f1cefa;
  height: 100%;
}
.search-page .results-container {
  padding: 25px 90px;
  background-color: #cefae9;
}
.search-page .list {
  background-color: #f0d1ae;
}
.search-page .list ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 15px 15px;
  margin: 0;
}
.search-page .item {                 /*  The item has a fixed width and margin  */
  width: 175px;
  /* border: 1px solid gray; */
  margin: 8px;
  background-color: #fcf6de;
}
.search-page .item-container {       /*  The item contents are in columns  */
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fcf6de;
}
.search-page .image-container {      /*  The image is centered and the container height is fixed  */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 183px;
  background-color: #ebb3dd;
}
.search-page .image-container:hover {
  opacity: 0.8;
}
.search-page .image-container img {  /*  The image stays within the container  */
  max-width: 175px;
  max-height: 180px;
}
.search-page .info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #c8e2f8;
}
.search-page .info-container .title {
  font-size: 15px;
}
.search-page .info-container .info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 4px 0;
  background-color: #cefae9;
}
.search-page .info-container .add-btn {
  align-self: center;
}
.search-page .prev-next-btn {
  display: flex;
  justify-content: space-between;
  padding: 5px 200px;
  background-color: #ebc3f5;
}

.img-anim {
  animation-name: "fade-in";
  animation-duration: 2s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}