.useraccount .following-container {
    background-color: #cbe4fc;
}

    .following-container > h3 {
        color: rgba(77, 33, 102, 0.753);
    }
    .following-container > h5 {
        color: rgba(145, 64, 84, 0.521);
    }

    .following-container ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* align-items: right; */
        background-color: #d6fccb;
    }
    .following-container li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fcddcb;
    }
    .following-container .profile-img {
        max-width: 35px;
        border-radius: 50%;
        margin-right: 10px;
    }