/* .slider {
    margin-top: 25px;
    background-color: rgb(217, 255, 217);
} */

.slide-img {
    height: 500px;
}

.slide-img > img {
    max-height: 100%;
    margin: auto;
}

@media (max-width: 900px) {
    .slide-img {
        height: 400px;
    }
}
@media (max-width: 760px) {
    .slide-img {
        height: 300px;
    }
}
@media (max-width: 540px) {
    .slide-img {
        height: 250px;
    }
}
@media (max-width: 455px) {
    .slide-img {
        height: 200px;
    }
}
@media (max-width: 380px) {
    .slide-img {
        height: 175px;
    }
}