.slide-img {
    height: 500px;
}

.slide-img > img {
    max-height: 100%;
    margin: auto;
}

.slick-list {
    background: linear-gradient(0deg, transparent, #e4dcfc);
    /* background: linear-gradient(0deg, transparent, #ffc7c7); */
}

@media (max-width: 900px) {
    .slide-img {
        height: 400px;
    }
}
@media (max-width: 760px) {
    .slide-img {
        height: 300px;
    }
}
@media (max-width: 540px) {
    .slide-img {
        height: 250px;
    }
}
@media (max-width: 455px) {
    .slide-img {
        height: 200px;
    }
}
@media (max-width: 380px) {
    .slide-img {
        height: 190px;
    }
}