.App {
    text-align: center;
}

/* 
  Colors 1
    #872f6f - purple
    #f6a54f - orange
    #cbf292 - green
    #fff3a2 - yellow

  Colors 2
    #ffc8cc - pink
    #ffe7b0 - orange
    #cafccc - green
    #c8e6ff - blue

  Colors 3
    #872f4e - maroon
    #ffc586 - orange
    #fff3a2 - yellow
    #cbf292 - green

    #c8e6ff - blue
    #ffc8cc - pink  *
    #cafccc - green
    #ffe7b0 - lighter orange  *
    #ead7fa - purple

    #b0dbff - blue
*/

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.panel {
  max-width: 1000px;
  margin: 0 auto;
  /* background-color: rgb(252, 247, 201); */
}

.btn {   /*  Reusable button style  */
  padding: 7px 14px;
  box-sizing: border-box;
  margin: 7px 0;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  background-color: #fc7474; 
  outline: none;
}
.btn:active {
  background-color: #dd5c5c; 
}

.input {
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #bb5656bd;
  border-radius: 3px;
  font-size: 15px;
  outline-color: #ffaaaa;
}

/*  Main Content  */

.main {
  /* background-image: linear-gradient(white, #f0b192, #737ed3); */
  /* background-image: linear-gradient(transparent, #f0b1928a, #cc6a837a); */
  /* background: linear-gradient(transparent, #f0b192, #cc6a83); */
  /* background-color: #cbf8d6; */
  /* background-color: #1a0d0d; */
  /* background-color: #4e4e4e0c; */
  min-height: 600px;
}

/*  Footer  */

.footer {
  padding: 50px 0;
  background-color: #cbe4fc;
}