.App {
    text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.panel {
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(252, 247, 201);
}

/*  Header  */

.main-header {
  background-color: #fccbd3;
}
.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #f8e4ba;
}
.main-header .title {
  background: #cbf8d6;
}
.main-header .search {
  background-color: #f4cbfc;
}
.main-header .search .category-1 {
  width: 75px;
}
.main-header .search .category-2 {
  width: 125px;
}
.main-header .search .search-bar {
  width: 150px;
}
.main-header .nav {
  display: flex;
  justify-content: space-between;
  background-color: #ddecfd;
}
/* Removes link underlines */
.main-header .nav a {
  text-decoration: none;
}
/* Each link will have this style */
.link {
  background-color: #4CAF50;
  color: white;
  padding: 6px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.main-header .dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.main-header .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.main-header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}
/* Color change on hover for links */
.main-header .dropdown-content a:hover {
  background-color: #f1f1f1
}
/* Show the dropdown menu on hover */
.main-header .dropdown:hover .dropdown-content {
  display: block;
}

/*  Main Content  */

.main {
  background-color: #cbf8d6;
}

    /*  Login and Register  */
.login-reg {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: #fce3e3;
}
.login-reg-container {
  padding: 20px 20px;
  background-color: #d1d0f7;
}
.login-reg .info-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px;
  background-color: #d0ecf7;
}
.login-reg .info-input > div {
  text-align: left;
  /* background-color: rgb(255, 203, 220); */
}
.login-reg .input {
  margin-bottom: 15px;
}
.login-reg .btns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin-top: 5px;
}

    /*  Search Page  */
.search-page .results {
  padding: 25px 100px;
  box-sizing: border-box;
  background-color: #f1cefa;
}
.search-page .results-container {
  padding: 25px 90px;
  background-color: #cefae9;
}
.search-page .list {
  background-color: #f0d1ae;
}
.search-page .list ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 15px 15px;
  margin: 0;
}
.search-page .item {                 /*  The item has a fixed width and margin  */
  width: 175px;
  border: 1px solid gray;
  margin: 8px;
  background-color: #fcf6de;
}
.search-page .item-container {       /*  The item contents are in columns  */
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fcf6de;
}
.search-page .image-container {      /*  The image is centered and the container height is fixed  */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 183px;
  background-color: #ebb3dd;
}
.search-page .image-container img {  /*  The image stays within the container  */
  max-width: 175px;
  max-height: 180px;
}
.search-page .info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #c8e2f8;
}
.search-page .info-container .title {
  font-size: 14px;
}
.search-page .info-container .info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #cefae9;
}
.search-page .prev-next-btn {
  display: flex;
  justify-content: space-between;
  padding: 5px 200px;
  background-color: #ebc3f5;
}

.useraccount .header-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #fccbd9;
}
.useraccount .nav {
  background-color: #ddecfd;
}
.useraccount .nav a {
  margin-left: 10px;
}
.useraccount .main {
  background-color: #cbf8d6;
}
.useraccount .profile-pic .image {
  max-width: 100px;
  max-height: 100px;
  border: 1px solid gray;
  border-radius: 50%;
}
.useraccount .profile-pic {
  background-color: #cbfcde;
}
.useraccount .profile-container {
  background-color: #cbe4fc;
}
.useraccount .posts {
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: #cbe4fc;
}
.useraccount .posts-container {
  width: 500px;
  background-color: green;
}
    .posts .new-post {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px;
      box-sizing: border-box;
      border: 1px dashed gray;
      background-color: #fcf0c8;
    }
    .posts ul {
      background-color: #b9ece8;
    }
    .posts .post {
      padding: 10px 12px;
      box-sizing: border-box;
      border: 1px dashed gray;
      background-color: #ecb9ea;
    }
    .posts .post-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      /* align-items: center; */
      background-color: #fcf4d9;
    }
    .posts .post-container > img {
      max-width: 484px;
    }
    .posts .post-container > div > input {
      width: 100%;
    }
    .posts .post-container > div {
      display: flex;
      justify-content: space-between;
      background-color: #dffafc;
    }
.useraccount .posters {
  background-color: #cbe4fc;
}
    .posters-container .new-poster {
      background-color: #f8e0b3;
    }
    .posters-container > ul {
      background-color: #f4cbfa;
    }
.useraccount .following-container {
  background-color: #cbe4fc;
}
.useraccount .cart {
  background-color: #b7d5f1;
  padding: 10px;
  box-sizing: border-box;
}
    .cart-container {
      background-color: #f9e5fd;
    }
    .cart-container .summary {
      display: flex;
      justify-content: space-around;
      background-color: #d8fcfc;
    }
.useraccount .settings-container {
  background-color: #cbe4fc;
}

/*  Footer  */

.footer {
  background-color: #cbe4fc;
}