.App {
    text-align: center;
}

/* 
  Colors 1
    #872f6f - purple
    #f6a54f - orange
    #cbf292 - green
    #fff3a2 - yellow

  Colors 2
    #ffc8cc - pink
    #ffe7b0 - orange
    #cafccc - green
    #c8e6ff - blue

  Colors 3
    #872f4e - maroon
    #ffc586 - orange
    #fff3a2 - yellow
    #cbf292 - green

    #c8e6ff - blue
    #ffc8cc - pink  *
    #cafccc - green
    #ffe7b0 - lighter orange  *
    #ead7fa - purple

    #b0dbff - blue
*/

h3 {
  color: rgba(104, 45, 52, 0.671);
}

h5 {
  color: rgba(145, 64, 84, 0.521);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.panel {
  max-width: 1000px;
  margin: 0 auto;
  /* background-color: rgb(252, 247, 201); */
}

.btn {   /*  Reusable button style  */
  padding: 7px 14px;
  box-sizing: border-box;
  margin: 7px 0;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  background-color: #fc7474; 
  outline: none;
  cursor: pointer;
}
.btn:active {
  background-color: #dd5c5c; 
}

.input {
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ff9d9d;
  border-radius: 3px;
  font-size: 15px;
  outline-color: #ffaaaa;
}
textarea {
  border: 1px solid #ecceba;
  resize: none;
  outline-color: #ffaaaa;
}

select {
  outline-color: #ffaaaa;
  padding: 3px 8px;
  margin: 0 4px;
  background-color: rgba(255, 255, 255, 0.90);
  border: none;
  border-radius: 0;
  font-size: 14px;
  height: 30px;
}

/*  Main Content  */

.main {
  min-height: 600px;
}

/*  Footer  */

.footer {
  padding: 50px 0;
  background: radial-gradient( 180deg, #ffc4b2c9, transparent );
}

/* Animations */

.loading-container {
  width: 50px;
  height: 50px;
  margin: auto;
  /* background-color: aquamarine; */
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 3px dashed rgb(253, 96, 117);
  border-radius: 50%;
  /* background-color: bisque; */
  animation-name: "circle-rotate";
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.line {
  width: 50px;
  height: 5px;
  border: 1px solid gray;
  background-color: gray;
  animation-name: "line-rotate";
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes circle-rotate {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}
@keyframes line-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}