body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background-color: #d6edfc;
}

.header-nav a {
  margin-left: 10px;
}

.main {
  background-color: #effce3;;
}

.signin-wrapper {
  max-width: 600px;
  background-color: #fce3e3;
}

.register-wrapper {
  max-width: 600px;
  background-color: #fbe3fc;;
}

.list-wrapper {
  max-width: 600px;
  background-color: #fce3fa;
}

.footer {
  background-color: #fcf0d6;
}