.profile {
  width: 100%;
  /* background-color: #cbe4fc; */
}

.profile-header-bkgd {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 10em;
  z-index: -1;
  background-image: linear-gradient( 0deg, #ffe2e2, #d5cde0);
  /* background:  #cdc7d6; */
}
.profile-header-bkgd > img {
  flex-shrink: 0;
  width: 100%;
  min-height: 100%;
}

.follow-btn-container {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  box-sizing: border-box;
  width: 100%;
  /* background-color: rgb(199, 255, 199); */
}

.profile-container {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  /* background-color: white; */
}

.profile-header {
  max-width: 200px;
  /* background-color: #dbfcd9; */
}
    .profile-header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 50px;
        box-sizing: border-box;
        border-radius: 0 0 3px 3px;
        background: linear-gradient( 180deg, #ffb6b6b0, #fff);
        /* background: linear-gradient( 180deg, #e2e3ff, #fff); */
        /* background-color: #ffd5d0; */
        /* background-color: #fccbd9; */
    }
    .profile-pic-name {
        display: flex;
        flex-direction: column;
    }
    .profile-pic-name > h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 18px 0 8px 0;
        color: #66569b;
    }
        /* Fills the thumbnail div with the image */
    .profile-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100px;
        height: 100px;
        /* border: 3px solid white; */
        border-radius: 20px;
        background-color: #cbe4fc;
    }
    .profile-pic > img {
        flex-shrink: 0;
        max-width: 100%;
        min-height: 100%;
    }
    .profile-nav {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        /* background-color: #ddecfd; */
    }
    .profile-nav a {
        margin: 0;
        padding: 3px;
        box-sizing: border-box;
    }


/* Animations  */

.fade-in {
  animation-name: "fade-in";
  animation-duration: 1s;
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/*  Responsive  */

@media (max-width: 650px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .profile-header {
    max-width: 100%;
  }
  .profile-nav {
    flex-direction: row;
  }
  .profile-nav a {
    margin-left: 10px;
  }
}